*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 40%;
    background: url(image2.jpg);
    background-size: cover;
    
}
.wrapper{
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    background: rgba(37, 5, 5, 0.15);
    backdrop-filter: blur(3px);
    border-radius: 20px;
}
h1{
    text-align: center;
    margin: 20px;
}

input{
    padding: 7px;
    height: 25px;
     background: transparent;
     border: none;
     outline: none;
     color: white;
     
     
}
.input-box:hover{
    border: 2px solid rgb(204, 121, 88);
    box-shadow: 0 0 25px rgb(194, 97, 59); 
    
}
.input-box{
    border: 2px solid rgba(225, 225, 225, 0.2);
    border-radius: 20px;
    margin-bottom: 20px;
}
input::placeholder{
    color: white;
    padding-left: 5px;
}
.remember-me{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
}
.remember-me input[type="checkbox"]{
    height: 11px;
    cursor: pointer;
    accent-color: rgb(204, 121, 88);
    margin-right: 4px;    
}
.remember-me a{
    color: white;
    position: absolute;
    right: 15%;
    font-size: 12px;
    

}
.remember-me a:hover{
    border-bottom: 1px solid white;
}
button{
    height: 30px;
    width: 214.38px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background: transparent;
    border: 1px solid white ;
    cursor: pointer;
    margin-bottom: 15px;
}
button:hover{
    border: none;
    background: linear-gradient(to top right,rgb(199, 69, 69), rgb(201, 173, 123)) ;
    box-shadow: 25px 0 100px rgb(199, 69, 69),
                25px 0 100px rgb(201, 173, 123) ;
}
.last-line{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.last-line a{
    color: white;

}
.last-line a:hover{
    border-bottom: 1px solid white;
}

    


